body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e8f4ff;
}

/* HEADER */
header {
    background: #0077cc;
    padding: 15px;
    text-align: center;
    color: white;
}

/* PANTALLAS */
.pantalla {
    display: none;
    padding: 20px;
}
.pantalla.activa {
    display: block;
}

/* CARDS */
.card {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px #0003;
}

/* GRÁFICAS */
.grafico {
    max-width: 100%;
    max-height: 260px;
}

/* MENÚ INFERIOR */
.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #0077cc;
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
}
.menu button {
    background: none;
    color: white;
    border: none;
    font-size: 13px;
}

/* MENÚ LATERAL */
#menu-lateral {
    position: fixed;
    left: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    background: #005ea6;
    padding: 20px;
    transition: 0.3s;
    color: white;
}
#menu-lateral.abierto {
    left: 0;
}

#btn-abrir-menu {
    position: fixed;
    left: 15px;
    top: 15px;
    background: #005ea6;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
}

/* Clima */
.clima-card {
    text-align: center;
}
.clima-recomendacion {
    font-weight: bold;
}

